<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Football World</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Football World</h1>
    <hr>
    <h2>Save League</h2>

    <form action="#" th:action="@{/view/league/save}" th:object="${league}" method="POST">
        <input type="text" th:field="*{name}" placeholder="League Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{country}" placeholder="League Country" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Save League</button>
    </form>

    <hr>

    <a th:href="@{/view}"> Back to League List</a>
</div>
</body>

</html>